html{
  font-size: 10px;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  */
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  font-size: 1rem;
}

.page{
  width: 100%;
  max-width: 607px;
  min-height: 810px;
  margin: 0 auto;
  background-color: rgb(0,0,0,0.08);
  padding: 2rem 4rem;
}

.heading{
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading h1{
  font-size: 3.2rem;
  color: #2f475c;
  font-weight: 700;
  margin: 0 0 2rem 0;
}

h2{
  font-size: 1.6rem;
  font-weight: 700;
  color: #2f475c;
  margin: 0 0 1rem 0;
}

p{
  margin: 0;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

th{
  text-align: left;
  border: 1px solid black;
  padding: 0.3rem;
  padding-left: 1rem;
  font-weight: 750;
}

td{
  border: 1px solid black;
  padding: 0.3rem;
  padding-left: 1rem;
}

hr{
  border: 1px solid #2f475c;
  margin: 0;
  margin-bottom: 1.5rem;
}

form{
  padding: 0;
  margin: 0;
}

.form-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 1.5rem;
}

input{
  font-size: 1rem;
}

.input-field{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.error-text{
  font-size: 0.9rem;
  color: red;
  margin: 0;
}

.input-field p{
  margin: 0;
}

.input-box{
  border-radius: 5px;
  border: 1px solid;
  padding-left: 1rem;
  padding-right: 1rem;
}

.input-field .error,
.payment-row .error,
.confirm-grid .error,
.other .error{
  border: 1px solid red;
}

.name-dob-section{
  gap: 1.5rem;
}

.name-input-section{
  width: 32.5rem;
}

.dob-input-section,
.number-input-section,
.email-input-section{
  width: 18rem;
}

.input-field .name,
.dob,
.number,
.email{
  width: 100%;
  height: 2.5rem;
}

.gender-select{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.gender-select p{
  margin: 0;
}

.radio{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.radio input{
  margin: 0;
  padding: 0;
}

.name-email-section{
  display: flex;
  gap: 2rem;
}

.social-media-section{
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-bottom: 2rem;
}

.social-radio{
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
}

.other{
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.othertext{
  width: 100%;
  height: 2rem;
}

.payment-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  margin-bottom: 1.5rem;
}

.ticket-section{
  flex: 1;
}

.ticket-input-section{
  width: 18rem;
}

.tickets{
  width: 100%;
  height: 2.5rem;
}

.pay-method{
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 1rem;
}

.radio-payment{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.confirm-grid{
  display: grid;
  grid-template-columns: 48fr 52fr;
  row-gap: 1.5rem;
  margin-bottom: 1rem;
}

.payment-para{
  margin-right: 2rem;
}

.sign-input-div,
.date-signed-input-div{
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.sign-input-section{
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.sign{
  width: 100%;
  height: 6rem;
}

.date-signed-input-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.date-signed-input-section input{
  width: 65%;
  height: 2.5rem;
}

.submit-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.button-submit{
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 750;
  color: #2f475c;
  border-radius: 4px;
} 

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.footer-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.logo{
  width: 5rem;
}

.logo-text{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.4rem;
  font-weight: 700;
}

.logo-text p{
  margin: 0;
}

.footer-right{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 4rem;
}

.social-icons{
  display: flex;
  gap: 0.5rem;
}

.icons{
  font-size: 1.8rem;
  cursor: pointer;
  color: #2f475c;
}

.footer-text p{
  margin: 0;
  font-size: 0.8rem;
}

@media (max-width : 480px){

  html{
    font-size: 8px;
  }

  .page{
    padding: 1rem 1rem;
  }

  .form-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  .name-email-section{
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 1rem;
    width: 100%;
  }

  .name-input-section,
  .dob-input-section,
  .number-input-section,
  .email-input-section,
  .ticket-input-section{
    width: 100%;
  }

  .social-radio{
    display: flex;
    flex-wrap: wrap;
  }

  .ticket-section{
    width: 100%;
  }

  .pay-method{
    width: 100%;
  }

  .payment-row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
  }

  .radio-payment{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .confirm-grid{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .sign-input-div{
    order: 1;
  }

  .date-signed-input-div{
    order: 2;
  }

  .sign-input-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0.5rem;
  }

  .date-signed-input-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0.5rem;
  }

  .date-signed-input-section input{
    width: 100%;
  }
  
  .payment-para{
    order: 3;
  }

  .confirm-section{
    order: 4;
  }

  .footer{
    flex-wrap: wrap;
    row-gap: 1rem;
  }
}

@media (max-width : 525px){
  html{
    font-size: 9px;
  }
}